<!DOCTYPE html>
<html ng-app="fastshop">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
	<script src="js/angular/angular.js"></script>
	<script src="js/controller.js"></script>
</head>

<body ng-controller="ItemList">

<div class="wrapper">

	<header class="header">
		<div class="logo">
			<span class="first">fast</span><span class="second">Shop</span>
		</div>
	</header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main class="content">
				<ul class="items">
					<li ng-repeat="item in items">
						<div class="item" ng-dblclick="addThing(item)">
							<img ng-src="{{item.img}}">
							<div class="item-name">{{ item.name}}</div>
							<div class="item-price">{{ item.price }}</div>
						</div>
					</li>
				</ul>
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="right-sidebar">
			<div class="basket">
				<div class="basket-title">Корзина</div>
				<ul class="basket-content">
					<li ng-repeat="addItem in addItems" ng-dblclick="deleteThing(addItem)">
						<div class="basket-name">{{addItem.name}}</div>
						<div class="basket-price">{{addItem.price}}</div>
					</li>
				</ul>
			</div>
			<div>Общая сумма: {{commonAmount}}.</div>
		</aside><!-- .right-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

</body>
</html>